@model BEEERP.Models.AITS_Models.AITS_SaleEntry

@{
    ViewBag.Title = "Sales Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("SaveEmployee", "AITS_SaleEntry", FormMethod.Post))
{
    <div class="content">
        <div class="row">
            <div class="form-horizontal">
                <div class="box-body">
                    <div>
                        <h4 style="color:red">@ViewBag.messege</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box ">
                                <div class="box-header with-border box-head-back">
                                    <h3 class="box-title">Create Designation</h3>
                                </div>
                                <div class="box-body">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ID, new { @class = "col-md-2 control-label" })
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.ID, new { @class = "form-control", @readonly = "readonly", @Value = ViewBag.EmpID })
                                            @Html.ValidationMessageFor(m => m.ID)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EmployeeID,"Employee", new { @class = "col-md-2 control-label" })
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.EmployeeID, (IEnumerable<SelectListItem>)ViewBag.employees, new { @class = "form-control select2" })
                                            @Html.ValidationMessageFor(m => m.EmployeeID)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Designation, new { @class = "col-md-2 control-label" })
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.Designation, new { @class = "form-control", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(m => m.Designation)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.CodeID,"Code", new { @class = "col-md-2 control-label" })
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.CodeID, (IEnumerable<SelectListItem>)ViewBag.codes, new { @class = "form-control select2" })
                                            @Html.ValidationMessageFor(m => m.CodeID)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Amount, new { @class = "col-md-2 control-label" })
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @number = "number" })
                                            @Html.ValidationMessageFor(m => m.Amount)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Date, new { @class = "col-md-2 control-label" })
                                        <div class="col-sm-8 input-group" style="padding-left:15px; padding-right:15px">
                                            @Html.TextBoxFor(m => m.Date, new { @class = "form-control date", @Value = DateTime.Now.ToString("dd-MM-yyyy") })
                                            @Html.ValidationMessageFor(m => m.Date, "", new { @style = "color: red" })
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.SaleDate, new { @class = "col-md-2 control-label" })
                                        <div class="col-sm-8 input-group" style="padding-left:15px; padding-right:15px">
                                            @Html.TextBoxFor(m => m.SaleDate, new { @class = "form-control date", @Value = DateTime.Now.ToString("dd-MM-yyyy") })
                                            @Html.ValidationMessageFor(m => m.SaleDate, "", new { @style = "color: red" })
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4"></div>
                                        <div class="col-sm-8">
                                            <input type="submit" name="Save" id="save" value="Save" class="btn skin-blue" />
                                            <input type="submit" name="Upate" id="update" value="Update" class="btn skin-blue" />
                                            <input type="submit" name="delete" id="delete" value="Delete" class="btn skin-blue" />
                                            <input type="button" name="Refresh" id="refresh" value="Refresh" class="btn skin-blue" />
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box ">
                                <div class="box-header with-border box-head-back">
                                    <h3 class="box-title">Designation List</h3>
                                </div>
                                <div class="box-body">
                                    <table class="table table-responsive" id="employeeList">
                                        <thead>
                                            <tr>
                                                <th>SL No</th>
                                                <th>Empoyee Name</th>
                                                <th>Code</th>
                                                <th>Amount</th>
                                                <th>Sale Date</th>
                                                <th>Date</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in ViewBag.SalesEntry)
                                            {
                                                <tr value="@item.ID" class="clickable-row">
                                                    <td>@item.ID</td>
                                                    <td>@item.EmployeeName</td>
                                                    <td>@item.CodeName</td>
                                                    <td>@item.Amount</td>
                                                    <td>@item.SaleDate</td>
                                                    <td>@item.Date</td>
                                                    @*<td> <a href="#" style="padding-right:40px;"><i class="fa fa-edit" value="@item.DeptmentID" id="edit"></i> </a></td>*@
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}


@section scripts{
    <script>
        $(function () {
            $('#employeeList').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
        $('.date').datepicker({
            autoclose: true,
            format: 'dd-mm-yyyy',
        });
        $(".select2").select2();
        $(document).ready(function () {

            $("#update").hide();
            $("#delete").hide();
            var ISsearch = false;
            var code = 0;
            //$(document).on('click', '#edit', function () {
            //    var id = $(this).attr("value");
            //});

            $(document).on('click', '#refresh', function () {
                window.location.reload(true);
            });
            $(document).on('change', '#EmployeeID', function () {
                var id = $("#EmployeeID").val();
                $.ajax({
                    url: '@Url.Action("GetEmployeeInfo", "AITS_SaleEntry")',
                    contentType: "application/json;charset=utf-8",
                    data: { id: id },
                    type: 'GET',
                    dataType: 'json',
                    success: function (datas) {
                        if (datas.Message == 0) {
                            alert("This Designation  doesn't exist.");
                        }
                        else {
                            $("#CodeID").empty();
                            $.each(datas.codes, function (index, value) {
                                $("#CodeID").append($('<option />', {
                                    value: value.Value,
                                    text: value.Text
                                })).trigger('change');
                            });
                            $("#Designation").val(datas.employee.DesignationName);
                            $("#Date").val(moment(datas.employee.Date).format("DD-MM-YYYY"));
                            $("#SaleDate").val(moment(datas.employee.SaleDate).format("DD-MM-YYYY"));

                        }
                        if (ISsearch==true) {
                            $("#CodeID").val(code).change();
                        }
                    }
                });
            });
           // $(".clickable-row").on('click', function (e) {
            $(document).on('click', ".clickable-row", function () {
                var id = $(this).attr("value");
                ISsearch = true;
                 $.ajax({
                    url: '@Url.Action("GetEmployee", "AITS_SaleEntry")',
                    contentType: "application/json;charset=utf-8",
                     data: JSON.stringify({ ID : id }),
                    type: 'POST',
                    dataType: 'json',
                    success: function (datas) {
                        if (datas.Message==0)
                        {
                            alert("This Designation  doesn't exist.");
                        }
                        else {
                            $("#save").hide();
                            $("#update").show();
                            $("#delete").show();
                            $("#ID").val(datas.employee.ID);
                            $("#EmployeeID").val(datas.employee.EmployeeID).change();
                            $("#CodeID").val(datas.employee.CodeID).change();
                            code = datas.employee.CodeID
                            $("#Amount").val(datas.employee.Amount);
                            $("#Date").val(moment(datas.employee.Date).format("DD-MM-YYYY"));
                            $("#SaleDate").val(moment(datas.employee.SaleDate).format("DD-MM-YYYY"));

                        }
                    }
                });
            });

            $(document).on('click', '#delete', function () {
                $("#update").prop('disabled', true);
                $("#delete").prop('disabled', true);
                var id = $("#ID").val();
                if (confirm('Are you sure you want to delete this from the database?')) {
                    $.ajax({
                        url: '@Url.Action("DeleteEmployeeByid", "AITS_SaleEntry")',
                        contentType: "application/json;charset=utf-8",
                        data: { id: id },
                        type: 'GET',
                        dataType: 'json',
                        success: function (datas) {
                            if (datas == 0) {
                                alert("Delete failed.");
                            }
                            else {
                                alert("Delete Successfull");
                                location.reload();
                            }
                        }
                    });
                }
            });

        });

    </script>
}


