@model BEEERP.Models.AITS_Models.AITS_Employee

@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("SaveEmployee", "AITS_Employee", FormMethod.Post))
{
    <div class="content">
        <div class="row">
            <div class="form-horizontal">
                <div class="box-body">
                    <div>
                        <h4 style="color:red">@ViewBag.messege</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="box ">
                                <div class="box-header with-border box-head-back">
                                    <h3 class="box-title">Create Designation</h3>
                                </div>
                                <div class="box-body">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EmpID, new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.EmpID, new { @class = "form-control", @readonly = "readonly", @Value = ViewBag.EmpID })
                                            @Html.ValidationMessageFor(m => m.EmpID)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EmployeeName, new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.EmployeeName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.EmployeeName)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ReferenceEmpID, new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.ReferenceEmpID, (IEnumerable<SelectListItem>)ViewBag.employees, new { @class = "form-control select2" })
                                            @Html.ValidationMessageFor(m => m.ReferenceEmpID)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Date, new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8 input-group" style="padding-left:15px; padding-right:15px">
                                            @Html.TextBoxFor(m => m.Date, new { @class = "form-control date", @Value = DateTime.Now.ToString("dd-MM-yyyy") })
                                            @Html.ValidationMessageFor(m => m.Date, "", new { @style = "color: red" })
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.JoiningDate, new { @class = "col-md-4 control-label" })
                                        <div class="col-sm-8 input-group" style="padding-left:15px; padding-right:15px">
                                            @Html.TextBoxFor(m => m.JoiningDate, new { @class = "form-control date", @Value = DateTime.Now.ToString("dd-MM-yyyy") })
                                            @Html.ValidationMessageFor(m => m.JoiningDate, "", new { @style = "color: red" })
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4"></div>
                                        <div class="col-sm-8">
                                            <input type="submit" name="Save" id="save" value="Save" class="btn skin-blue" />
                                            <input type="submit" name="Upate" id="update" value="Update" class="btn skin-blue" />
                                            <input type="submit" name="delete" id="delete" value="Delete" class="btn skin-blue" />
                                            <input type="button" name="Refresh" id="refresh" value="Refresh" class="btn skin-blue" />
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="box ">
                                <div class="box-header with-border box-head-back">
                                    <h3 class="box-title">Designation List</h3>
                                </div>
                                <div class="box-body">
                                    <table class="table table-responsive" id="employeeList">
                                        <thead>
                                            <tr>
                                                <th>Employee ID</th>
                                                <th>Empoyee Name</th>
                                                <th>Reference Empoyee</th>
                                                <th>Joining Date</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in ViewBag.Employee)
                                            {
                                                <tr value="@item.EmpID" class="clickable-row">
                                                    <td>@item.EmpID</td>
                                                    <td>@item.EmployeeName</td>
                                                    <td>@item.RefeneceName</td>
                                                    <td>@item.JoiningDate</td>
                                                    @*<td> <a href="#" style="padding-right:40px;"><i class="fa fa-edit" value="@item.DeptmentID" id="edit"></i> </a></td>*@
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}


@section scripts{
    <script>
        $(function () {
            $('#employeeList').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
        $('.date').datepicker({
            autoclose: true,
            format: 'dd-mm-yyyy',
        });
        $(".select2").select2();
        $(document).ready(function () {

            $("#update").hide();
            $("#delete").hide();

            //$(document).on('click', '#edit', function () {
            //    var id = $(this).attr("value");
            //});

            $(document).on('click', '#refresh', function () {
                window.location.reload(true);
            });
           // $(".clickable-row").on('click', function (e) {
            $(document).on('click', ".clickable-row", function () {
                var id = $(this).attr("value");

                 $.ajax({
                    url: '@Url.Action("GetEmployee", "AITS_Employee")',
                    contentType: "application/json;charset=utf-8",
                     data: JSON.stringify({ ID : id }),
                    type: 'POST',
                    dataType: 'json',
                    success: function (datas) {
                        if (datas.Message==0)
                        {
                            alert("This Designation  doesn't exist.");
                        }
                        else {
                            $("#save").hide();
                            $("#update").show();
                            $("#delete").show();
                            $("#EmpID").val(datas.employee.EmpID);
                            $("#EmployeeName").val(datas.employee.EmployeeName);
                            if (datas.employee.ReferenceEmpID!=0) {
                                $("#ReferenceEmpID").val(datas.employee.ReferenceEmpID).change();
                            }
                            $("#Date").val(moment(datas.employee.Date).format("DD-MM-YYYY"));
                            $("#JoiningDate").val(moment(datas.employee.JoiningDate).format("DD-MM-YYYY"));

                        }
                    }
                });
            });

            $(document).on('click', '#delete', function () {
                $("#update").prop('disabled', true);
                $("#delete").prop('disabled', true);
                var id = $("#EmpID").val();
                if (confirm('Are you sure you want to delete this from the database?')) {
                    $.ajax({
                        url: '@Url.Action("DeleteEmployeeByid", "AITS_Employee")',
                        contentType: "application/json;charset=utf-8",
                        data: { id: id },
                        type: 'GET',
                        dataType: 'json',
                        success: function (datas) {
                            if (datas == 0) {
                                alert("Delete failed.");
                            }
                            else {
                                alert("Delete Successfull");
                                location.reload();
                            }
                        }
                    });
                }
            });

        });

    </script>
}


